.card_container {
  position: relative;
  border: 3px solid #3e4357;
  border-radius: 10px;
  max-width: 350px;
  max-height: 500px;
  min-width: 230px;
  min-height: 300px;
  width: 20vw;
  height: 35vw;
  display: flex;
  overflow: hidden;
  margin-top: 10px;
  background-color: aqua;
}

.card_img {
  width: 100%;
  transition: transform 0.8s;
}

.card_img:hover {
  transform: scale(1.1);
}
